/* Universal Css Start Here */
body {
	background-color: var(--body-color);
	font-family: var(--font-default);
	color: var(--text-color);
}

.over-hidden {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--extra-color-3);
}

a:hover {
	color: var(--extra-color-3);
}

button {
	font-family: var(--font-btn);
	border: 0;
}

figure {
	margin-bottom: 0;
}

.primary-btn {
}

.secondary-btn {
}

/* Universal Css End Here */

/* Typography Start Here */
.larger-heading {
	font-family: var(--font-montserrat-bold);
	font-size: 53px;
	line-height: 63px;
}

.deafult-heading {
	font-family: var(--font-heading);
	font-size: 40px;
	line-height: 50px;
}

.paragraph-family {
	font-family: var(--font-paragraph);
	font-size: 15px;
	line-height: 25px;
}

/* Typography End Here */

/* Header Css Start Here */
